<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
</head>
<body bgcolor="gray">
<table th:border="5" bordercolor ="#fafafa" bgcolor="#faebd7" align="center">
  <caption><h1>All Users</h1></caption>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Role</th>
    <th>Age</th>
    <th>Deleting</th>
    <th>Edit</th>
  </tr>
  <tr th:each="user : ${users}">
    <td>
      <a th:href="@{/edit/{id}(id=${user.getId()})}" th:text="${user.id}">id</a>
    </td>
    <td th:text="${user.getFirstName()}">name</td>
    <td th:text="${user.getLastName()}">lastName</td>
    <td th:text="${user.email}">email</td>
    <td th:text="${user.roleToString()}">email</td>
    <td th:text="${user.age}">email</td>
    <td>
      <form th:method="POST" th:action="@{/del(id=${user.getId()})}" th:object="${user}">
        <input type="submit" value="DELETE"/>
      </form>
    </td>
    <td>
      <a th:href="@{/edit/{id}(id=${user.getId()})}">EDIT</a>
    </td>
  </tr>

</table>
<br/>
<hr/>
<hr/>
<form th:method="GET" th:action="@{/addUser}" align="center">
  <input type="submit" value="Create new user"/>
</form>
<form th:method="GET" th:action="@{/user}" align="center">
  <input type="submit" value="Go to UserPage"/>
</form>
<style>
  .center {
    text-align: center;
  }
</style>
<div class = "center">
<button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>
</div>
</body>
</html>