<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body bgcolor="gray">
<form th:method="PATCH" th:action="@{/edit/{id}(id=${user.id})}" th:odject="${user}">
  <label for="Firstname"> Enter Firstname:</label>
  <input type="text" th:field="*{user.firstName}" id="Firstname"/>
  <br><br>
  <label for="Lastname"> Enter Lastname:</label>
  <input type="text" th:field="*{user.lastName}" id="Lastname"/>
  <br><br>
  <label for="Email"> Enter Email:</label>
  <input type="email" th:field="*{user.email}" id="Email"/>
  <br><br>
  <label for="Password"> Enter Password:</label>
  <input type="password" th:field="*{user.password}" id="Password"/>
  <br><br>
  <label for="Age"> Enter Age:</label>
  <input type="number" th:field="*{user.age}" id="Age"/>
  <br><br>
  <label for="roles">Role</label>
  <select th:field="*{user.roles}" multiple id="roles" name="roles" required = "required">
    <option th:each="role : ${roles}"
            th:value="${role.getId()}"
            th:text="${role.getName()}">
    </option>
  </select>
  <br><br>
  <input type="submit" value="EDIT">
</form>
</body>
</html>